In [26]:
import pandas as pd
scores = pd.read_csv('data_safe_copy.csv')

In [27]:
scores.shape

(300, 5)

In [28]:
scores

    student_id cohort   module assignment  score
0         S001  alpha  Module1         A1     78
1         S001  alpha  Module1         A2     84
2         S001  alpha  Module2         A1     79
3         S001  alpha  Module2         A2     86
4         S001  alpha  Module3         A1     81
..         ...    ...      ...        ...    ...
295       S050   beta  Module1         A2     77
296       S050   beta  Module2         A1     73
297       S050   beta  Module2         A2     76
298       S050   beta  Module3         A1     75
299       S050   beta  Module3         A2     78

[300 rows x 5 columns]

In [29]:
scores.info()

<class 'pandas.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_id  300 non-null    str
 1   cohort      300 non-null    str
 2   module      300 non-null    str
 3   assignment  300 non-null    str
 4   score       300 non-null    int64
dtypes: int64(1), str(4)
memory usage: 11.8 KB

### score is int 64

In [30]:
import pandas as pd

roster = pd.DataFrame({
    "student_id": ["S051","S052","S053","S054","S055","S016","S057","S058","S059","S060",
                   "S001","S012","S013","S014","S015","S016","S017","S018","S019","S020"],
    "status": ["active","inactive","active","inactive","active","active","inactive","active","inactive","active",
               "active","inactive","active","inactive","active","active","inactive","active","inactive","active"]
})

merged = scores.merge(roster, on='student_id', how='left')
merged

    student_id cohort   module assignment  score  status
0         S001  alpha  Module1         A1     78  active
1         S001  alpha  Module1         A2     84  active
2         S001  alpha  Module2         A1     79  active
3         S001  alpha  Module2         A2     86  active
4         S001  alpha  Module3         A1     81  active
..         ...    ...      ...        ...    ...     ...
301       S050   beta  Module1         A2     77     NaN
302       S050   beta  Module2         A1     73     NaN
303       S050   beta  Module2         A2     76     NaN
304       S050   beta  Module3         A1     75     NaN
305       S050   beta  Module3         A2     78     NaN

[306 rows x 6 columns]

In [31]:
missing_status_count = merged["status"].isnull().sum()
print("Missing statuses:", missing_status_count)

Missing statuses: 240

In [38]:
avg_by_module = scores.groupby(['cohort','module'])['score'].mean()
avg_by_module

cohort  module
alpha   Module1    77.970588
        Module2    78.382353
        Module3    79.794118
beta    Module1    78.647059
        Module2    78.411765
        Module3    80.029412
gamma   Module1    76.218750
        Module2    76.468750
        Module3    77.843750
Name: score, dtype: float64

In [41]:
avg_by_cohort = scores.groupby('cohort')['score'].mean()
avg_by_cohort

cohort
alpha    78.715686
beta     79.029412
gamma    76.843750
Name: score, dtype: float64

#### the average values are equal to the average value of each cohort in `avg_by_module` dataframe

In [42]:
student_module_report = scores.pivot_table(index='student_id', columns='module',values='score', aggfunc='mean')
student_module_report

module      Module1  Module2  Module3
student_id
S001           81.0     82.5     84.5
S002           73.5     72.0     75.0
S003           87.5     88.5     89.5
S004           68.5     67.5     69.5
S005           81.5     82.5     83.5
S006           76.0     75.0     77.0
S007           89.0     89.0     90.5
S008           71.0     70.0     72.0
S009           79.5     78.5     80.5
S010           84.5     85.5     86.5
S011           73.0     72.0     74.0
S012           80.5     79.5     81.5
S013           66.5     67.5     68.5
S014           91.5     92.5     93.5
S015           74.5     73.5     75.5
S016           83.0     84.0     85.0
S017           70.5     69.5     71.5
S018           77.0     78.0     79.0
S019           83.5     84.5     85.5
S020           71.5     70.5     72.5
S021           87.5     88.5     89.5
S022           69.5     68.5     70.5
S023           80.0     81.0     82.0
S024           73.5     72.5     74.5
S025           78.5     79.5     80.5
S026           69.5     70.5     71.5
S027           85.5     86.5     87.5
S028           74.5     75.5     76.5
S029           80.5     81.5     82.5
S030           72.5     73.5     74.5
S031           86.5     87.5     88.5
S032           71.5     70.5     72.5
S033           77.5     78.5     79.5
S034           83.5     84.5     85.5
S035           69.5     68.5     70.5
S036           75.5     74.5     76.5
S037           81.5     82.5     83.5
S038           70.5     69.5     71.5
S039           76.5     77.5     78.5
S040           83.5     84.5     85.5
S041           67.5     68.5     69.5
S042           74.5     73.5     75.5
S043           82.5     83.5     84.5
S044           71.5     70.5     72.5
S045           89.5     90.5     91.5
S046           73.5     72.5     74.5
S047           80.5     81.5     82.5
S048           68.5     67.5     69.5
S049           87.5     88.5     89.5
S050           75.5     74.5     76.5

In [51]:
rows_report, cols_report = student_module_report.shape
rows_original = scores['student_id'].nunique()
print(rows_original == rows_report)

True

In [55]:
modules_original = set(scores['module'].unique())
modules_report = set(student_module_report.columns)

print(modules_original == modules_report)

True

In [84]:
top_students = scores.groupby(['student_id','cohort'])['score'].mean()
top_students = top_students.reset_index(name = "avg_score")
top_students

   student_id cohort  avg_score
0        S001  alpha  82.666667
1        S002  alpha  73.500000
2        S003  alpha  88.500000
3        S004  alpha  68.500000
4        S005  alpha  82.500000
5        S006  alpha  76.000000
6        S007   beta  89.500000
7        S008   beta  71.000000
8        S009   beta  79.500000
9        S010   beta  85.500000
10       S011   beta  73.000000
11       S012   beta  80.500000
12       S013  gamma  67.500000
13       S014  gamma  92.500000
14       S015  gamma  74.500000
15       S016  gamma  84.000000
16       S017  gamma  70.500000
17       S018  gamma  78.000000
18       S019  alpha  84.500000
19       S020  alpha  71.500000
20       S021   beta  88.500000
21       S022   beta  69.500000
22       S023  gamma  81.000000
23       S024  gamma  73.500000
24       S025  alpha  79.500000
25       S026  alpha  70.500000
26       S027  alpha  86.500000
27       S028  alpha  75.500000
28       S029  alpha  81.500000
29       S030  alpha  73.500000
30       S031   beta  87.500000
31       S032   beta  71.500000
32       S033   beta  78.500000
33       S034   beta  84.500000
34       S035   beta  69.500000
35       S036   beta  75.500000
36       S037  gamma  82.500000
37       S038  gamma  70.500000
38       S039  gamma  77.500000
39       S040  gamma  84.500000
40       S041  gamma  68.500000
41       S042  gamma  74.500000
42       S043  alpha  83.500000
43       S044  alpha  71.500000
44       S045   beta  90.500000
45       S046   beta  73.500000
46       S047  gamma  81.500000
47       S048  gamma  68.500000
48       S049  alpha  88.500000
49       S050   beta  75.500000

In [85]:
top_students = top_students.sort_values(['cohort','avg_score'],
                                        ascending=[True, False])
top_students

   student_id cohort  avg_score
2        S003  alpha  88.500000
48       S049  alpha  88.500000
26       S027  alpha  86.500000
18       S019  alpha  84.500000
42       S043  alpha  83.500000
0        S001  alpha  82.666667
4        S005  alpha  82.500000
28       S029  alpha  81.500000
24       S025  alpha  79.500000
5        S006  alpha  76.000000
27       S028  alpha  75.500000
1        S002  alpha  73.500000
29       S030  alpha  73.500000
19       S020  alpha  71.500000
43       S044  alpha  71.500000
25       S026  alpha  70.500000
3        S004  alpha  68.500000
44       S045   beta  90.500000
6        S007   beta  89.500000
20       S021   beta  88.500000
30       S031   beta  87.500000
9        S010   beta  85.500000
33       S034   beta  84.500000
11       S012   beta  80.500000
8        S009   beta  79.500000
32       S033   beta  78.500000
35       S036   beta  75.500000
49       S050   beta  75.500000
45       S046   beta  73.500000
10       S011   beta  73.000000
31       S032   beta  71.500000
7        S008   beta  71.000000
21       S022   beta  69.500000
34       S035   beta  69.500000
13       S014  gamma  92.500000
39       S040  gamma  84.500000
15       S016  gamma  84.000000
36       S037  gamma  82.500000
46       S047  gamma  81.500000
22       S023  gamma  81.000000
17       S018  gamma  78.000000
38       S039  gamma  77.500000
14       S015  gamma  74.500000
41       S042  gamma  74.500000
23       S024  gamma  73.500000
16       S017  gamma  70.500000
37       S038  gamma  70.500000
40       S041  gamma  68.500000
47       S048  gamma  68.500000
12       S013  gamma  67.500000

In [86]:
top_students = top_students.groupby("cohort").head(3)
top_students

   student_id cohort  avg_score
2        S003  alpha       88.5
48       S049  alpha       88.5
26       S027  alpha       86.5
44       S045   beta       90.5
6        S007   beta       89.5
20       S021   beta       88.5
13       S014  gamma       92.5
39       S040  gamma       84.5
15       S016  gamma       84.0

In [88]:
top_students['cohort'].value_counts()

cohort
alpha    3
beta     3
gamma    3
Name: count, dtype: int64